<div class="flat-show-image"></div>
<div class="container negative-margin">
  <div class="row">
    <div class="col-6">
      <div class="p-3 bg-light m-3 rounded">
        <h2><%= @flat.name %></h2>
        <p><%= @flat.address %></p>
      </div>
      <div class="p-3 bg-light m-3 rounded">
        <h3>A bit more about this flat:</h3>
        <p><%= @flat.description %></p>
      </div>
      <div class="p-3 bg-light m-3 rounded">
        <h1>Details</h1>
        <i class="fas fa-pound-sign p-3"> <%= @flat.price_per_night %></i>
        <i class="fas fa-user-friends"> <%= @flat.number_of_guests %></i>
      </div>
    </div>
    <div class="col-4">
      <form class="p-3 bg-light m-3 rounded">
        <h3>Make a booking</h3>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3" placeholder="01/07/2021">from</span>
          </div>
          <input type="text" class="form-control" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3" placeholder="03/07/2021">to</span>
          </div>
          <input type="text" class="form-control" aria-describedby="basic-addon3">
        </div>
        <button type="submit" class="btn btn-success w-100">Submit</button>
      </form>      
    </div>
</div>
</div>